<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PWC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="menu-holder">
      <div class="dropdown">
        <button class="dropbtn">Furniture</button>
        <div class="dropdown-content">
          <a href="#" (mouseover)="handleMouseOver('/f/f001')" (mouseout)="handleMouseOut()">Product A</a>
          <a href="#" (mouseover)="handleMouseOver('/f/f002')" (mouseout)="handleMouseOut()">Product B</a>
          <a href="#" (mouseover)="handleMouseOver('/f/f003')" (mouseout)="handleMouseOut()">Product C</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Lighting</button>
        <div class="dropdown-content">
          <a href="#" (mouseover)="handleMouseOver('/l/l001')" (mouseout)="handleMouseOut()">Product D</a>
          <a href="#" (mouseover)="handleMouseOver('/l/l002')" (mouseout)="handleMouseOut()">Product E</a>
          <a href="#" (mouseover)="handleMouseOver('/l/l003')" (mouseout)="handleMouseOut()">Product F</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Accessories</button>
        <div class="dropdown-content">
          <a href="#" (mouseover)="handleMouseOver('/a/a001')" (mouseout)="handleMouseOut()">Product G</a>
          <a href="#" (mouseover)="handleMouseOver('/a/a002')" (mouseout)="handleMouseOut()">Product H</a>
          <a href="#" (mouseover)="handleMouseOver('/a/a003')" (mouseout)="handleMouseOut()">Product I</a>
        </div>
      </div>
    </div>
  </div>

</nav>

<div class="container main-container">

  <div class="row" *ngIf="products.length > 0">
    <div class="col-md-4" *ngFor="let item of products">
      <div class="card custom-card" style="width: 18rem;">
        <img src="{{item.img}}" class="card-img-top" alt="img">
        <div class="card-body">
          <p class="card-info">{{item.info}}</p>
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.desc}}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

          <p class="card-footer">{{item.likes}} <span style="margin-left: 2rem;">{{item.comments}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="sidecard" *ngIf="!hideFixedCard">
  <div class="card" style="width: 18rem;">
    <div class="d-flex justify-content-end">
      <button type="button" class="close" aria-label="Close" (click)="closecard()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="card-body">
      <div class="d-flex justify-content-center">
        <h5 class="card-title">Product Name</h5>
      </div>
      <img src="{{sidecardImg}}" class="card-img-top sidecard-img" alt="">
      <p class="card-text">Short description of this product goes here</p>
      <div class="d-flex justify-content-center">
        <a href="#" class="btn btn-success mx-auto">Shop Now</a>
      </div>

    </div>
  </div>
</div>

<footer class="text-muted">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Get Started</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Get Started</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Get Started</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p style="color: darkslategrey;">© All right Reversed.<a class="text-green ml-2" target="_blank">PWC</a></p>
      </div>
      <hr>
    </div>
  </div>
</footer>


<router-outlet></router-outlet>
